<?xml version="1.0"?>
<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_uns" args="0.3 0 -0.1 0 0 3.1415 base_link uns_link" />

    <rosparam command="load" file="$(find robot_localization)/params/beluga_auv_fusion_ekf.yaml" />
    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->
    <node pkg="robot_localization" name="ekf_se" type="ekf_localization_node" output="screen"/>

</launch>
